<h1 class="display-4 text-center my-4">All Bloggers</h1>

<div class="flickr_pagination">
  <div class="page_info">
    <%= page_entries_info @users %>
  </div>
</div>

<div class="container">
  <% @users.each do |user| %>
    <div class="row justify-content-md-center my-4">
      <div class="col-8">
        <div class="card text-center shadow rounded">

          <div class="card-body">

            <h3 class="card-title display-3 fw-bold"><%= link_to user.username, user_path(user), class: "text-success" %></h3>

            <%= libravatar_for user, size: 200 %>

            <p class="card-text lead fw-bold my-2"><%= pluralize(user.articles.count, "article/s") %></p>

            <%= link_to "View Profile", user_path(user), class: "btn btn-primary" %>

            <% if logged_in? && (user == current_user || current_user.admin?) %>
              <%= link_to "Edit Profile", edit_user_path(user), class: "btn btn-warning" %>
            <% end %>
          </div>

          <div class="card-footer text-muted">
            Joined on:

            <span class="fw-bold">
              <%= user.created_at.strftime("%Y/%m/%d") %>
            </span>

            at 

            <span class="fw-bold">
              <%= user.created_at.strftime("%I:%M %p") %>
            </span>

          </div>
        </div>
      </div>
    </div>
  <% end %>

</div>

<div class="flickr_pagination">
  <div class="page_info">
    <%= page_entries_info @users %>
  </div>
  <%= will_paginate @users, :container => false %>
</div>
