<%= render "shared/errors", obj: @category %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">

      <%= form_with(model: @category, local: true, class: "shadow-lg p-3 rounded mb-5 bg-dark text-white") do |f| %>
        <div class="form-group row my-4" >
          <%= f.label :name, "Category Name", class: "col-2 col-form-label" %>

          <div class="col-9 shadow rounded">
            <%= f.text_field :name, class: "form-control" %>
          </div>
        </div>

        <div class="form-group row my-4 justify-content-center">
          <%= f.submit class: "btn btn-success btn-lg form-btn" %>
        </div>

      <% end %>

      <%= link_to "[ Cancel and return to Articles Page ]", articles_path, class: "mb-4" %>

    </div>
  </div>
</div>
